.select-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%; // 🔹 responsivo por padrão
  max-width: 100%; // evita ultrapassar o container pai
  box-sizing: border-box;

  select {
    appearance: none;
    background: rgb(240, 239, 239);
    border: 1.8px solid #312e81;
    padding: 0.7rem;
    border-radius: 5px;
    font-size: 1rem;
    color: #111827;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg fill="%23312e81" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1rem;
    width: 100%;
    min-width: 11rem;
    box-sizing: border-box;
    outline: none;

    &:focus {
      border: 2px solid #1e1b4b;
      outline-offset: 50px;
    }

    &.error {
      border-color: #dc2626;
      background-image: url('data:image/svg+xml;charset=UTF-8,<svg fill="%23dc2626" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"/></svg>');
    }

    &:disabled {
      background-color: #9ca3af;
      background-image: url('data:image/svg+xml;charset=UTF-8,<svg fill="%233e4147" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"/></svg>');
      color: #3e4147;
      border-color: #646970;
      cursor: not-allowed;
    }
    &.placeholder {
      color: #53585f;
    }
  }
}
